@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=IM+Fell+Great+Primer+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    background-color: #DBDBDB;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    width: 65px;
}

#logo-link img{
    width: 65px;
}


nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 35px;
    font-weight: bold;
    font-size: 1.3em;
}

nav a:link, nav a:visited {
    color: #63855F;
}

nav a:hover {
    color: white;
    background-color: #63855F;
}

main {
    padding: 35px;
}

#home-page-top {
    text-align: center;
}

h1 {
    font-family: "Baskervville", serif;
}

p {
    font-family: "Poppins", Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#home-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
}

#home-page-content img {
    width: 85%;
    margin: auto;
    padding-left: 25px;
    padding-bottom: 30px;
    transition: transform .5s;
}

#home-page-content img:hover{
    transform: scale(1.2);
}

#web-development-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 25px 425px;
}

#web-development-content h1 {
    text-align: center;
}

#web-development-content p {
    text-align: center;
}

#web-development-content img {
    width: 45%;
    margin: auto;
    grid-column: 2/3;
    grid-row: 1/4;
    transition: transform .5s;
}

#web-development-content img:hover {
    transform: scale(1.2);
}

#web-development-content button {
    grid-row: 3/4;
    font-family: "Poppins", Helvetica, sans-serif;
    width: 200px;
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
}

#web-development-content button a {
    font-size: 1.1em;
    font-weight: bold;
    color: #3a9330;
}

content img {
    width: 60px;
}

footer {
    background-color: #DBDBDB;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 48px;
}

#footer-link:hover {
    color: white;
    background-color: #63855F;
}

footer a {
    background-color: #DBDBDB;
    color: #63855F;
    text-decoration: none;
    padding: 20px;
    font-size: 1.3em;
    font-weight: bold;
}
